# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

./.idea
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.pyc
yarn-error.log
_modules
superset/assets/coverage/*
changelog.sh
.DS_Store
.coverage
_build
_static
_images
_modules
superset/bin/supersetc
env_py3
.eggs
build
*.db
tmp
superset_config.py
local_config.py
env
dist
superset.egg-info/
app.db
*.bak
.idea
*.sqllite
.vscode
.python-version
.tox
dump.rdb

# Node.js, webpack artifacts
*.entry.js
*.js.map
node_modules
npm-debug.log*
yarn.lock
superset/assets/version_info.json
superset-dev

# IntelliJ
*.iml
venv
@eaDir/

loop/dev/scripts/*.csv

